T1809-Java_Architect/01_Java_Beginner/ExtraWork/学到猝死—尚学堂百战在线购物系统/源码/BZMallServer/xml/goods.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT goods (good*)>
<!ELEMENT good (goodName,goodPrice,goodType,goodDesception,goodRepertory,merchantID,goodBrand,goodSellCount,url)>
<!ATTLIST good ID CDATA #REQUIRED>
<!ELEMENT goodName (#PCDATA)>
<!ELEMENT goodPrice (#PCDATA)>
<!ELEMENT goodType (#PCDATA)>
<!ELEMENT goodDesception (#PCDATA)>
<!ELEMENT goodRepertory (#PCDATA)>
<!ELEMENT goodBrand (#PCDATA)>
<!ELEMENT goodSellCount (#PCDATA)>
<!ELEMENT url (#PCDATA)>