T1809-Java_Architect/01_Java_Beginner/ExtraWork/学到猝死—尚学堂百战在线购物系统/源码/BZMallServer/xml/user.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT users (user*)>
<!ELEMENT user (username,password,sex,age,type,tel,address,IconUrl)>
<!ATTLIST user ID CDATA #REQUIRED>
<!ELEMENT username (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT IconUrl (#PCDATA)>